.main-heading {
    text-align: center;
    padding: 2em;
    border: solid 20px rgb(46, 46, 46);
    margin: 1em 0;
    font-weight: 900;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

#filter {
    width: 100%;
    border-radius: 0.3em;
    height: 2.5em;
}

.photo-template {
    text-align: center;
    border: solid 1px #eee;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 18em;
    transition: 0.5s;
}

.title {
    margin-bottom: 1.2em;
    padding: 0.5em 0;
    font-weight: 900;
    font-size: 1.2em;
    height: 2em;
}

.img {
    width: 100%;
    height: 15em;
}

.desc {
    margin-top: 1.2em;
    margin-bottom: 0.2em;
    font-weight: 400;
    max-width: 15em;
    min-width: 5em;
    text-align: center;
    height: auto;
}

#button {
    display: flex;
    justify-content: space-around;
}

.pagination {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
    background-color: #4CAF50;
    width: 45%;
    margin: 20px 0;
    border-radius: 5px;
}

.pagination:hover {
    cursor: pointer;
    background-color: #009205;
}

#sort {
    width: 100%;
    border-radius: 0.3em;
    height: 2.5em;
}

@media (min-width: 480px) and (max-width: 768px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
    .photo-template {
        background-color: #009205;
        color: white;
        transition: 0.5s;
    }
}

@media (min-width: 768px) and (max-width: 960px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        transition: 0.5s;
    }
    .photo-template {
        background-color: #003f92;
        color: white;
        transition: 0.5s;
    }
}